html, body {
    height: 100%;
    font-family: "Roboto Light", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

body {
    position: relative;
    margin: 0;
}

.ipsum {
    display: flex;
    flex-direction: column;
}
.ipsum > * {
    max-width: 900px;
    padding: 20px;
    margin: auto;
}
.img-sample {
    max-width: 100%;
}
